body{
    background-color: #f9f9fa;
    font-family: 'Fira Sans', serif;
    font-size: 17px;
	font-weight: 400;
}

#logo-img{
    height: 100px;
}

.blue{
    background-color: #0077FF;
    color: #f2f2f2;
}

.link-panel-blue{
    background-color: #b8d9ff;
    color: #000000;
}

.btn{
    background-color: #0077FF;
}

.btn-dark{
    background-color: #2a2a2e;
	color:#f9f9fa;
}

.btn-dark:hover{
    background-color: #4a4a4f;
	color:#f9f9fa;
}

.btn-italia{
    background-color: #0a84ff;
	color: #f9f9fa;
}

.btn-italia:hover{
    background-color: #003eaa;
	color:#f9f9fa;
}

.spaceDiv{
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top:40px;
	padding-bottom:40px;
}

.spaceText{
	padding:40px;
}

.link-panel{
    background-color: #ededf0;
    color: #737373;
}

.title{
	margin-bottom:40px;
    font-size: 28px;
	font-weight: 300;
}

.title-emphasized{
	margin-bottom:40px;
    font-size: 28px;
	font-weight: 700;
}

.gallery-cell {
    height: 60px;
}

.gallery-cell-italia {
    height: 150px;
}

a {
    color: #737373;
	text-decoration: none;
	font-weight: 400;
}

a:hover {
    color: #0077FF;
	text-decoration: none;
}

.element-title {
	margin-top: 17px;
	font-size: 17px;
	font-weight: 400;
}
